html[data-theme="light"]{
  --accent-color:#3F51B5;
  color:black;
  background-color:white;
}

html[data-theme="dark"]{
  --accent-color:#4d648d;
  color:white;
  background-color:black;
}


html {
  overflow-x:hidden;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
