.light{
  --accent-color:#3F51B5;
  color:black;
}

.dark{
  --accent-color:#4d648d;
  color:white;
}

html.dark{
  background-color:black;
}

html.light{
  background-color:white;
}

@font-face {
  font-family: 'AlimamaTi';
  src: url('/assets/fonts/AlimamaFangYuanTiVF.ttf') format('truetype');
  font-display: swap;
  font-weight: 900;
}

html {
  overflow-x:hidden;
  font-family: 'AlimamaTi', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
